<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NflConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=c:\\tfl\\nfl\\team.dbf"/>
    <add name="TflConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=c:\\tfl\\tycoon\\comp.dbf"/>
    <add name="CtlConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=c:\\tfl\\tfl_ctl.dbf"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
